
#video-container,
.caption{
	text-align: center;
	position: relative;
}

#video-controls{
	text-align: center;
	border: 1px solid black;
    position: relative;
    margin: 0 230px;
    background-color: black;
}

.pause-btn{
	display: none;
}

.volume-btn{
	display: none;
}

.caption{
	margin: 20px 180px;
}

p{
	font-family: 'Ubuntu', sans-serif;
	color: #888;
}