
body{
	font-family: 'Ubuntu', sans-serif;
	color: #8A8585;
	background-color: #000;
}


/******************************************
Containers
******************************************/


#video-container{
	text-align: center;
	position: relative;
	width:100%;
}

#video-player:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}


#video-controls{
	position: absolute;
  	background-color: #000;
	width: 61.55%;
	top: 206px;
	margin: 0 70px;
	opacity: .7;
    z-index: 2147483647;
}


/******************************************
Buttons/progress bar
******************************************/

/*#play-pause,
.volume-btn,
.mute-btn,
.full-screen,
#duration
#current{
	display: none;
}
*/

button{
	background-color: #000;
	border-color: #000;
	margin-top: 1px;
  	float: right;
}

progress{
  width: 100%;
  height: 3px;
  background-color: green;
}

progress:before {
    display: block;
    width: 35%;
    height: 100%;
    border-radius: 5px;
}

#play-pause{
  float: left;
}


.pause-btn{
	display: none;
}

#current,
#duration{
	display: inline-block;
	color: #fff;
	margin-top: 5px;
	font-size: small;
	float: left;
}

#current{
	padding-left: 10px;
}

.volume-btn{
	display: none;
}

#mute,
#full-screen{
	float: right;
	display: inline-block;
}



/******************************************
Caption
******************************************/

.caption{
	margin: 20px 180px;
}

.highlight{
	background-color: #245F2B;
}

/******************************************
Media Queries
******************************************/

@media screen and (min-width: 480px){
  #video-controls{
    width: 61.55%;
    top: 245px;
    margin: 0 100px;
  }
}

@media screen and (min-width: 768px){
  #video-controls{
    width: 61.55%;
    top: 310px;
    margin: 0 150px;
  }
}
@media screen and (min-width: 1024px){
  #video-controls{
    width: 61.55%;
    top: 310px;
    margin: 0 200px;
  }
}